In [0]:
src='/content/drive/My Drive/classification_Dataset/hackerearth_dataset.zip'

dest='/content/drive/My Drive/classification_Dataset/hackerearth_data/'

In [0]:
#!unzip '/content/drive/My Drive/classification_Dataset/hackerearth_dataset.zip' -d '/content/drive/My Drive/classification_Dataset/hackerearth_data/'

In [0]:
# import pandas as pd

# df = pd.read_csv('/content/drive/My Drive/classification_Dataset/cancer_classification.csv')
# df.head()

In [0]:
cd dest

/content/dest

In [0]:
cd '/content/drive/My Drive/classification_Dataset/hackerearth_data/'

/content/drive/My Drive/classification_Dataset/hackerearth_data

In [0]:
ls

dataset/

In [0]:
cd dataset

/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset

In [0]:
ls

 test.csv  'Test Images'/   train.csv  'Train Images'/

In [0]:
cd Train\ Images

/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset/Train Images

In [0]:
pwd

'/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset'

In [0]:
train_images='/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset/Train Images/'
train_csv= '/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset/train.csv'

test_images='/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset/Test Images/'
test_csv= '/content/drive/My Drive/classification_Dataset/hackerearth_data/dataset/test.csv'

model_path='/content/drive/My Drive/classification_Dataset/'
image_dims=[100,100,3]
batch_size=16
epochs=10

In [0]:

import matplotlib.pyplot as plt 
import cv2 
import imutils
from os import listdir
import os
%matplotlib inline

import sys
# sys.executable
import pandas as pd
import keras as K
from  keras.applications.inception_v3 import InceptionV3

In [0]:
from keras.models import Sequential
from keras.layers.normalization import BatchNormalization
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.layers.core import Activation
from keras.layers.core import Flatten
from keras.layers.core import Dropout
from keras.layers.core import Dense
from keras import backend as K

# set the matplotlib backend so figures can be saved in the background
import matplotlib
# matplotlib.use("Agg")
 
# import the necessary packages
from keras.preprocessing.image import ImageDataGenerator
from keras.optimizers import Adam
from keras.preprocessing.image import img_to_array
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split
# from pyimagesearch.smallervggnet import SmallerVGGNet
import matplotlib.pyplot as plt
from imutils import paths
import numpy as np
import argparse
import random
import pickle
import cv2
import os
import pandas as pd

import pandas as pd
import numpy as np
import os
import keras
import matplotlib.pyplot as plt
from keras.layers import Dense,GlobalAveragePooling2D
from keras.applications import MobileNet
from keras.applications.inception_v3 import InceptionV3
from keras.applications.vgg16 import VGG16
from keras.preprocessing import image
from keras.applications.mobilenet import preprocess_input
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Model
from keras.optimizers import Adam

In [39]:

data=pd.read_csv(train_csv)
data.head()

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire

In [33]:
#one hot encoding of data
dummy_cols=pd.Series(data['Class'].unique())

label_dict=pd.get_dummies(dummy_cols).astype(int)
label_dict

   Attire  Decorationandsignage  Food  misc
0       0                     0     1     0
1       0                     0     0     1
2       1                     0     0     0
3       0                     1     0     0

In [34]:
print(dummy_cols)

0                    Food
1                    misc
2                  Attire
3    Decorationandsignage
dtype: object

In [44]:

imgs=[]
for i,file in enumerate(listdir(train_images)):
#     print(file)
    img=cv2.imread(train_images+file)
    print(img.shape)
    imgs.append(img)
    if i ==10:
        break

(108, 80, 3)
(120, 80, 3)
(60, 80, 3)
(60, 80, 3)
(60, 80, 3)
(60, 80, 3)
(111, 80, 3)
(60, 80, 3)
(60, 80, 3)
(113, 80, 3)
(60, 80, 3)

In [45]:
vggmodel = VGG16(weights='imagenet', include_top=True)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

Downloading data from https://github.com/fchollet/deep-learning-models/releases/download/v0.1/vgg16_weights_tf_dim_ordering_tf_kernels.h5
553467904/553467096 [==============================] - 34s 0us/step
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

In [46]:
vggmodel.summary()

Model: "vgg16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 224, 224, 3)       0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
_________________________________________________________________
flatten (Flatten)            (None, 25088)             0
_________________________________________________________________
fc1 (Dense)                  (None, 4096)              102764544
_________________________________________________________________
fc2 (Dense)                  (None, 4096)              16781312
_________________________________________________________________
predictions (Dense)          (None, 1000)              4097000
=================================================================
Total params: 138,357,544
Trainable params: 138,357,544
Non-trainable params: 0
_________________________________________________________________